table.ce, table.hhp, table.tt{
    width: 100%;
    margin-bottom: 1em;
    border-collapse: collapse;
    text-align: center;
}
.logo{
    background: #b3a9c2;
}
.ce th,
.ce td {
    padding: 0.75rem;
    border: 1px solid #000000;
}
.hhp th,
.hhp td {
    padding: 0.75rem;
    border: 1px solid #000000;
}

.tt th,
.tt td {
    padding: 0.75rem;
    border: 1px solid #000000;
    text-align: center;
}

#fileDropReceiver{
    border: 2px solid #ffffff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    font: 20pt bold, "Vollkorn";
    color: #ffffff
}
.title{
    color: #ffffff;
}

#time_1, #time_2{
    font-weight: bold;
}

/*#time_1, #rem_1, #acp_1, #rat_1_ce, #trg1, #pck1, #rat_2_ce,
#time_2, #rem_2, #acp_2, #rat_1_hhp, #trg2, #pck2, #rat_2_hhp{

}*/

/*
td:empty {
    display: none;
}
th:empty{
   display: none;
}
.ft-1:empty{
    display: none;
}

#null:empty{
    display: block;
}*/
